<header class="main-header">
  <div class="background-overlay text-white py-5">
    <div class="container">
      <div class="row d-flex h-100">
        <div
          class="col-sm-11 text-center justify-content-center align-self-center"
        >
          <h1>
            Looking For Services ?
          </h1>
          <p>
            ¿Eres un Proveedor que quiere dar de Alta sus Servicios?, ¿Eres un
            Cliente que necesita de estos Servicios? ¡Bienvenidos! Habeis
            llegado al Portal indicado. Entra, y te pondremos en contacto a
            través de email con los proveedores de Servicios.
          </p>
          <h3>
            Vete al Login o Regístrate
          </h3>
        </div>
      </div>
    </div>
  </div>
</header>
