.navbar {
  box-shadow: 2px 2px 5px #650077;
  opacity: 0.9;
}

.navbar .nav-item .nav-link {
  color: #fff;
}

.main-header {
  position: relative;
  background: url(./assets/images/IMG_4907.JPG);
  background-size: cover;
  min-height: 700px;
}

.background-overlay {
  background: rgba(125, 126, 146, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control,
.btn {
  border-radius: 0;
}

.footer {
  background: #30336b;
}
